@model ML.Historial
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="=col-md-12">
            <h2>Super Digito</h2>
        </div>
    </div>

     @using (Html.BeginForm("Historial", "Historial", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-md-4 col-6 col-sm-6">
                        @Html.LabelFor(model => model.Numero)
                        @Html.TextBoxFor(model => model.Numero, new { @class = "form-control", @id = "Numero" })
                        @Html.ValidationMessageFor(model => model.Numero)
                    </div>
                     <hr />
                    <div class="col-md-4 col-6 col-sm-6">
                        @Html.LabelFor(model => model.Resultado)
                        @Html.TextBoxFor(model => model.Resultado, new { @class = "form-control", @id = "resultado", @readonly = true })
                        @Html.ValidationMessageFor(model => model.Resultado)

                    </div>
                </div>
    
    <div class="row">
        <div class="col-md-1 ">
             <button class="bg-info" onclick="Calcular()">Agregar</button>
            @*Html.ActionLink("Agregar", "Form", "", htmlAttributes: new { @class = "btn btn-success" })*@
        </div>
        <br> <br />
    </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <td>Numero</td>
                        <td>Resultado</td>
                        <td>FechaHora</td>

                    </tr>
                </thead>
                <tbody>
                   @* @foreach (ML.Historial cine in Model.Hitoriales)
                    {
                        <tr>
                            <td class="hidden">@cine.Usuario.IdUsuario</td>
                            <td>@cine.Numero</td>
                            <td>@cine.Resultado</td>
                            <td>@cine.FechaHora</td>
                            <td><a class="btn btn-danger glyphicon glyphicon-trash " href="@Url.Action("Delete", "Historial", new { idUsuario = cine.Usuario.IdUsuario  })" onclick="return confirm('¿Estas seguro que deseas eliminar este registro?');"></a></td>
                        </tr>
                    }*@
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    function Calcular()
 {
     
    while (numero >= 10) {
        numero = numero.toString()
            .split('')
            .map(x => parseInt(x) )
            .reduce( (x, y) => x + y);
    }
     $('#' + resultado).text(numero);
 }
</script>


